<div class="table-container">
   <table class="table table-bordered table-header-fixed">
      <thead>
         <tr role="row" class="heading">
            <th *ngFor="let column of columns">{{ column.header }}</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let object of listObjects; let i= index" style="cursor:pointer">
            <td *ngFor="let column of columns">
               <span *ngIf="column.header != 'Acciones' ">

                  <span *ngFor="let item of object">

                     <span *ngIf="item.header === column.header">{{ item.content }}</span>

                  </span>

               </span>

               <!-- ACCIONES -->
               <div *ngIf="column.header == 'Acciones' && acciones.length > 0"class="btn-group">
                   <button class="btn btn-sm blue-sharp sbold dropdown-toggle" type="button" data-toggle="dropdown">Acciones
                       <i class="fa fa-angle-down"></i>
                   </button>
                   <ul class="dropdown-menu" role="menu">
                       <li *ngFor="let accion of acciones">
                           <a (click)="sendToPather(accion, object, i)"><i class="fa {{ accion.icon }}"></i> {{ accion.label }}</a>
                       </li>
                   </ul>
               </div>
               <!-- ACCIONES -->
            </td>
         </tr>
      </tbody>
   </table>
   <h2 *ngIf="isEmptyList" class="text-center">
      No hay resultados para la búsqueda <br><br>
   </h2>
</div>
<div *ngIf="proximaPagina== 'llena' " class="row">
   <button type="button" class="btn blue-madison btn-sm" style="width: 100%" (click)="search(filterFields)">
      <strong>
         Ver más <i class="fa fa-caret-down" aria-hidden="true"></i>
      </strong>
   </button>
</div>
