<div class="page-header navbar navbar-fixed-top">

    <div class="page-header-inner">

        <div class="page-logo">
            <a [routerLink]="['/home']">
                <img src="assets/img/header.png" alt="logo" class="logo-default"  style="margin-top: 13px;"/>
            </a>
            <div class="menu-toggler sidebar-toggler">
                <span></span>
            </div>
        </div>

        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </a>

        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile"> {{ currentUser.user.nombre }} {{ currentUser.user.apellido }} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <!-- <li>
                            <a (click)="showModal()">
                                <i class="fa fa-key" aria-hidden="true"></i> Cambiar contraseña
                            </a>
                        </li> -->
                        <li>
                            <a (click)="logout()">
                                <i class="fa fa-sign-out"></i> Salir
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</div>
