<!-- ALERTAS -->
<ng2-toasty [position]="'top-right'"></ng2-toasty>

<div class="page-wrapper">

    <!-- HEADER -->

    <header>
    </header>

    <!-- FINAL DE HEADER -->

    <!-- DIVISOR -->

    <div class="clearfix"> </div>

    <!-- FINAL DE DIVISOR -->

    <div class="page-container">

        <!-- SIDEBAR -->

        <sidebar>
        </sidebar>

        <!-- FINAL SIDEBAR -->

        <!-- CONTENIDO -->

        <div class="page-content-wrapper">

            <div class="page-content">

              <router-outlet></router-outlet>

            </div>

        </div>

        <!-- FINAL DEL CONTENIDO -->

    </div>

    <!-- FOOTER -->

    <footer>
    </footer>

    <!-- FINAL DE FOOTER -->

</div>

<div class="quick-nav-overlay"></div>
