<loader *ngIf="loaderPrincipal"></loader>

<div class="row">
   <div class="col-md-12">
      <!-- Begin: Demo Datatable 1 -->
      <div class="portlet light portlet-fit portlet-datatable bordered">
         <div class="portlet-title">
            <div class="caption">
               <ol class="breadcrumb" style="background-color:transparent;">
                  <li class="caption-subject font-dark sbold uppercase"><i class="fa fa-users" aria-hidden="true"></i> Usuarios</li>
               </ol>
            </div>
            <div class="actions">
               <button class="btn green-dark sbold" (click)="modalCrear.showModal()"><i class="fa fa-plus"></i> Nuevo usuario</button>
            </div>
         </div>
         <div class="portlet-body">

            <!-- GILLA -->
            <grilla [columns]="columns" [acciones]="acciones" [listObjects]="listUsers" (send)="getAccion($event)"></grilla>
            <!-- GILLA -->

         </div>
      </div>
   </div>
</div>

<!-- EDICION DE MATERIAS -->
<create-user #modalCrear [cmbRoles]="cmbRoles" (refrescarListado)="loadFilter()"></create-user>

<!-- EDICION DE MATERIAS -->
<edit-user #modalEditar [cmbRoles]="cmbRoles" (actualizarFila)="actualizarListaEdicion($event)"></edit-user>

<!-- MODAL NUEVA TAREA  -->
<div bsModal #modalEliminar="bs-modal" class="modal fade" tabindex="-1" role="basic" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
   <div class="modal-dialog modal-md">
      <div class="modal-content">

         <form class="form-horizontal">

            <div class="modal-header">

               <h4 class="modal-title pull-left">Eliminar usuario</h4>

            </div>

            <div class="modal-body" style="text-align:center">

               <h3 *ngIf="dataDelete">¿Desea eliminar al usuario <br> <strong>{{dataDelete.nombre}} {{dataDelete.apellido}}</strong>?</h3>

            </div>

            <div class="modal-footer">
               <button type="button" class="btn dark sbold" data-dismiss="modal" (click)="hideModalEliminar()">Cerrar</button>
               <button class="btn red-mint sbold" [disabled]="loader" (click)="delete()">
                  Eliminar usuario
                  <img *ngIf="loader" src="assets/img/loader.gif" class="gif-loader">
               </button>
            </div>

         </form>

      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
