* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 1000px !important;
  overflow-x: hidden;
}

.page-content {
  min-height: 1000px !important;
}

.page-content-wrapper {
  min-height: 1000px !important;
}

.page-container {
  min-height: 1000px !important;
}

.page-wrapper {
  min-height: 1000px !important;
}

.gif-loader {
  width: 20px;
  height: auto;
  position: relative;
  margin-left: 8px;
}

/*SWITCH*/
.onoffswitch {
    position: relative; width: 76px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 31px; padding: 0; line-height: 31px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Si";
    padding-left: 11px;
    background-color: #27A4B0; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 11px;
    background-color: #ED6B75; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 21px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border: 2px solid #FFFFFF; border-radius: 0px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
}

/* LOADER */
.loader{
  width: 100%;
  height: 100%;
  background-color: #364150;
  opacity: 0.5;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.loader > img{
  width: 100%;
  max-width: 60px;
  position: fixed;
  top: 50%;
  margin-top: -30px;
}

/* BOTON SRCOLL HACIA ARRIBA */
.ir-arriba {
  display:none;
  padding:12px;
  background:#364150;
  font-size:15px;
  color:#fff;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
  opacity: 0.7;
  border-radius: 10px;
  z-index: 500;
}
