<div class="page-footer">
    <div class="page-footer-inner pull-right">
        Proyecto | <strong>versión {{version}}</strong>
    </div>
    <i (click)="scrollTop()" class="ir-arriba fa fa-arrow-up" aria-hidden="true"></i>
</div>
