<div class="page-bar">
   <div class="page-toolbar">
      <div class="btn btn-sm">
         <i class="icon-calendar"></i>&nbsp;
         <span class="thin uppercase hidden-xs">{{currentDate | date:'medium'}}</span>
         <h1>Home | Proyecto</h1>
      </div>
   </div>
</div>
