<!-- MODAL NUEVA TAREA  -->
<div bsModal #modalCrear="bs-modal" class="modal fade" tabindex="-1" role="basic" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form class="form-horizontal" novalidate [formGroup]="formCreacion">

                <div class="modal-header">

                    <h4 class="modal-title pull-left">Nuevo usuario</h4>

                </div>

                <div class="modal-body">

                  <div class="form-group" [ngClass]="{ 'has-error': formCreacion.controls.nombre.errors && formCreacion.controls.nombre.pristine && submitForm }">
                      <label for="nombre" class="control-label col-md-3">
                          Nombre <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                          <input type="text" name="nombre" formControlName="nombre" class="form-control">
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formCreacion.controls.nombre.errors && formCreacion.controls.nombre.pristine && submitForm">
                          <strong class="help-block" *ngIf="formCreacion.controls.nombre.errors.required && formCreacion.controls.nombre.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formCreacion.controls.nombre.errors.sinEspacios && formCreacion.controls.nombre.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formCreacion.controls.apellido.errors && formCreacion.controls.apellido.pristine && submitForm }">
                      <label for="apellido" class="control-label col-md-3">
                          Apellido <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                          <input type="text" name="apellido" formControlName="apellido" class="form-control">
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formCreacion.controls.apellido.errors && formCreacion.controls.apellido.pristine && submitForm">
                          <strong class="help-block" *ngIf="formCreacion.controls.apellido.errors.required && formCreacion.controls.apellido.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formCreacion.controls.apellido.errors.sinEspacios && formCreacion.controls.apellido.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formCreacion.controls.email.errors && formCreacion.controls.email.pristine && submitForm }">
                      <label for="email" class="control-label col-md-3">
                          Email <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                        <input type="text" name="email" formControlName="email" class="form-control">
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formCreacion.controls.email.errors && formCreacion.controls.email.pristine && submitForm">
                          <strong class="help-block" *ngIf="formCreacion.controls.email.errors.required && formCreacion.controls.email.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formCreacion.controls.email.errors.sinEspacios && formCreacion.controls.email.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                          <strong class="help-block" *ngIf="formCreacion.controls.email.errors.pattern && formCreacion.controls.email.pristine && submitForm">Formato de email incorrecto (ej: name@mail.com)</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formCreacion.controls.telefono.errors && formCreacion.controls.telefono.pristine && submitForm }">
                      <label for="telefono" class="control-label col-md-3">
                          Teléfono <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                        <input type="text" [textMask]="{mask: onlyNumberMask}" name="telefono" formControlName="telefono" class="form-control">
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formCreacion.controls.telefono.errors && formCreacion.controls.telefono.pristine && submitForm">
                          <strong class="help-block" *ngIf="formCreacion.controls.telefono.errors.required && formCreacion.controls.telefono.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formCreacion.controls.telefono.errors.sinEspacios && formCreacion.controls.telefono.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formCreacion.controls.rol_id.errors && formCreacion.controls.rol_id.pristine && submitForm }">
                      <label for="rol_id" class="control-label col-md-3">
                          Rol <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                        <select class="form-control" name="rol_id" formControlName="rol_id">
                          <option value="">Ninguno...</option>
                          <option *ngFor="let rol of cmbRoles" [value]="rol.id">{{rol.nombre}}</option>
                        </select>
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formCreacion.controls.rol_id.errors && formCreacion.controls.rol_id.pristine && submitForm">
                          <strong class="help-block" *ngIf="formCreacion.controls.rol_id.errors.required && formCreacion.controls.rol_id.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formCreacion.controls.rol_id.errors.sinEspacios && formCreacion.controls.rol_id.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formCreacion.controls.habilitado.errors && formCreacion.controls.habilitado.pristine && submitForm }">
                      <label for="habilitado" class="control-label col-md-3">
                          ¿Habilitado? <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                        <select name="habilitado" formControlName="habilitado" class="form-control">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formCreacion.controls.habilitado.errors && formCreacion.controls.habilitado.pristine && submitForm">
                          <strong class="help-block" *ngIf="formCreacion.controls.habilitado.errors.required && formCreacion.controls.habilitado.pristine && submitForm">Éste campo es requerido</strong>
                      </div>
                  </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn grey-gallery sbold" data-dismiss="modal" (click)="hideModal()">Cerrar</button>
                    <button class="btn green-dark sbold" [disabled]="loader" (click)="save(formCreacion.value)">
                        Crear usuario
                        <img *ngIf="loader" src="assets/img/loader.gif" class="gif-loader">
                    </button>
                    <h5 class="pull-left text-danger"><strong>Los usuarios creados tendrán por defecto el password: 123456</strong></h5>
                </div>

            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
