<!-- MODAL NUEVA TAREA  -->
<div bsModal #modalEditar="bs-modal" class="modal fade" tabindex="-1" role="basic" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form *ngIf="formEdicion" novalidate [formGroup]="formEdicion" class="form-horizontal" (change)="verificarCambio()">

                <div class="modal-header">

                    <h4 class="modal-title pull-left">Editar usuario</h4>

                </div>

                <div class="modal-body">

                  <div class="form-group" [ngClass]="{ 'has-error': formEdicion.controls.nombre.errors && formEdicion.controls.nombre.pristine && submitForm }">
                      <label for="nombre" class="control-label col-md-3">
                          Nombre <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                          <input type="text" name="nombre" formControlName="nombre" class="form-control">
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formEdicion.controls.nombre.errors && formEdicion.controls.nombre.pristine && submitForm">
                          <strong class="help-block" *ngIf="formEdicion.controls.nombre.errors.required && formEdicion.controls.nombre.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formEdicion.controls.nombre.errors.sinEspacios && formEdicion.controls.nombre.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formEdicion.controls.apellido.errors && formEdicion.controls.apellido.pristine && submitForm }">
                      <label for="apellido" class="control-label col-md-3">
                          Apellido <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                          <input type="text" name="apellido" formControlName="apellido" class="form-control">
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formEdicion.controls.apellido.errors && formEdicion.controls.apellido.pristine && submitForm">
                          <strong class="help-block" *ngIf="formEdicion.controls.apellido.errors.required && formEdicion.controls.apellido.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formEdicion.controls.apellido.errors.sinEspacios && formEdicion.controls.apellido.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formEdicion.controls.email.errors && formEdicion.controls.email.pristine && submitForm }">
                      <label for="email" class="control-label col-md-3">
                          Email <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                        <input type="text" name="email" formControlName="email" class="form-control">
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formEdicion.controls.email.errors && formEdicion.controls.email.pristine && submitForm">
                          <strong class="help-block" *ngIf="formEdicion.controls.email.errors.required && formEdicion.controls.email.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formEdicion.controls.email.errors.sinEspacios && formEdicion.controls.email.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                          <strong class="help-block" *ngIf="formEdicion.controls.email.errors.pattern && formEdicion.controls.email.pristine && submitForm">Formato de email incorrecto (ej: name@mail.com)</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formEdicion.controls.telefono.errors && formEdicion.controls.telefono.pristine && submitForm }">
                      <label for="telefono" class="control-label col-md-3">
                          Teléfono <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                        <input type="text" [textMask]="{mask: onlyNumberMask}" name="telefono" formControlName="telefono" class="form-control">
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formEdicion.controls.telefono.errors && formEdicion.controls.telefono.pristine && submitForm">
                          <strong class="help-block" *ngIf="formEdicion.controls.telefono.errors.required && formEdicion.controls.telefono.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formEdicion.controls.telefono.errors.sinEspacios && formEdicion.controls.telefono.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formEdicion.controls.rol_id.errors && formEdicion.controls.rol_id.pristine && submitForm }">
                      <label for="rol_id" class="control-label col-md-3">
                          Rol <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                        <select class="form-control" name="rol_id" formControlName="rol_id">
                          <option value="">Ninguno...</option>
                          <option *ngFor="let rol of cmbRoles" [value]="rol.id">{{rol.nombre}}</option>
                        </select>
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formEdicion.controls.rol_id.errors && formEdicion.controls.rol_id.pristine && submitForm">
                          <strong class="help-block" *ngIf="formEdicion.controls.rol_id.errors.required && formEdicion.controls.rol_id.pristine && submitForm">Éste campo es requerido</strong>
                          <strong class="help-block" *ngIf="formEdicion.controls.rol_id.errors.sinEspacios && formEdicion.controls.rol_id.pristine && submitForm">Éste campo no debe poseer espacios en blanco</strong>
                      </div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': formEdicion.controls.habilitado.errors && formEdicion.controls.habilitado.pristine && submitForm }">
                      <label for="habilitado" class="control-label col-md-3">
                          ¿Habilitado? <strong class="text-danger">*</strong>
                      </label>
                      <div class="col-md-8">
                        <select name="habilitado" formControlName="habilitado" class="form-control">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                      </div>
                      <div class="col-md-offset-3 col-md-8" *ngIf="formEdicion.controls.habilitado.errors && formEdicion.controls.habilitado.pristine && submitForm">
                          <strong class="help-block" *ngIf="formEdicion.controls.habilitado.errors.required && formEdicion.controls.habilitado.pristine && submitForm">Éste campo es requerido</strong>
                      </div>
                  </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn grey-gallery sbold" data-dismiss="modal" (click)="hideModal()">Cerrar</button>
                    <button class="btn green-dark sbold" [disabled]="loader" (click)="edit(formEdicion.value)">
                        Editar usuario
                        <img *ngIf="loader" src="assets/img/loader.gif" class="gif-loader">
                    </button>
                </div>

            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<confirmar-cambio #modalConfirmarCambio (salirYGuardarCambios)="edit(formEdicion.value)" (salirSinGuardarCambios)="cerrarModal()"></confirmar-cambio>
