<div class="login">

    <div class="content">

        <h3 class="form-title font-green-dark">Inicio de sesión</h3>

        <form  #fLogin="ngForm" novalidate [formGroup]="formLogin">

            <div class="form-group" [ngClass]="{ 'has-error': formLogin.controls.email.errors && formLogin.controls.email.pristine && fLogin.submitted }">
                <label class="control-label" for="email">Correo electrónico:</label>
                <input type="text" class="form-control" name="email" formControlName="email" placeholder="Correo electrónico laboral">
                <div *ngIf="formLogin.controls.email.errors && formLogin.controls.email.pristine && fLogin.submitted">
                    <strong class="help-block" *ngIf="formLogin.controls.email.errors.required && formLogin.controls.email.pristine">Éste campo es requerido</strong>
                    <strong class="help-block" *ngIf="formLogin.controls.email.errors.pattern && formLogin.controls.email.pristine">Formato de correo electrónico inválido (ej: name@mail.com)</strong>
                </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': formLogin.controls.password.errors && formLogin.controls.password.pristine && fLogin.submitted }">
                <label class="control-label" for="password">Contraseña:</label>
                <input type="password" class="form-control" name="password" formControlName="password" placeholder="Contraseña">
                <div *ngIf="formLogin.controls.password.errors && formLogin.controls.password.pristine && fLogin.submitted">
                    <strong class="help-block" *ngIf="formLogin.controls.password.errors.required && formLogin.controls.password.pristine">Éste campo es requerido</strong>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="loader" class="btn sbold green-dark" (click)="login()">
                    <strong>Entrar</strong>
                    <img *ngIf="loader" src="assets/img/loader.gif" class="gif-loader">
                </button>
            </div>

            <div class="create-account">
                <p>
                    <a (click)="showModal()" class="uppercase">Cambiar contraseña</a>
                </p>
            </div>

        </form>

    </div>

</div>

<!-- MODAL NUEVA TAREA  -->
<div bsModal #modalEmail="bs-modal" class="modal fade" tabindex="-1" role="basic" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <form class="form-horizontal" novalidate [formGroup]="formEmail">

                <div class="modal-header">

                    <h4 class="modal-title">Cambiar contraseña</h4>

                </div>

                <div class="modal-body">

                    <div class="form-group" [ngClass]="{ 'has-error': formEmail.controls.email.errors && formEmail.controls.email.pristine && isSubmitEmail }">
                        <div class="col-md-12">
                            <input type="email" class="form-control" name="email" formControlName="email" placeholder="ingrese el Email">
                        </div>
                        <div class="col-md-12" *ngIf="formEmail.controls.email.errors && formEmail.controls.email.pristine && isSubmitEmail">
                            <strong class="help-block" *ngIf="formEmail.controls.email.errors.required && formEmail.controls.email.pristine">El email es requerido</strong>
                            <strong class="help-block" *ngIf="formEmail.controls.email.errors.pattern && formEmail.controls.email.pristine">Formato de email incorrecto (ej: name@mail.com)</strong>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn grey-gallery sbold" data-dismiss="modal" (click)="hideModal()">Cerrar</button>
                    <button class="btn green-dark sbold" [disabled]="loader" (click)="enviarEmail()">
                        Cambiar contraseña
                        <img *ngIf="loader" src="assets/img/loader.gif" class="gif-loader">
                    </button>
                </div>

            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
