<div class="page-sidebar-wrapper">

    <div class="page-sidebar navbar-collapse collapse">

        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/users']" class="nav-link ">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="title">Usuarios</span>
                </a>
            </li>

        </ul>

    </div>

</div>
