<!-- MODAL NUEVA TAREA  -->
<div bsModal #modalConfirmarCambio="bs-modal" class="modal fade" tabindex="-1" role="basic" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false}">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="position:relative;left:150%">

            <div class="modal-header">

                <h4 class="modal-title pull-left">Confirmar cambios</h4>

            </div>

            <div class="modal-body">

              <h3>¿Desea guardar los cambios del formulario?</h3>

            </div>

            <div class="modal-footer">
                <button class="btn grey-gallery sbold" [disabled]="loader" (click)="salirSinGuardar()">No</button>
                <button type="button" class="btn green-dark sbold" data-dismiss="modal" (click)="salirYGuardar()">Sí</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
